*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    

}
.data-table{
    max-width: 70rem;
    padding: 1.2rem 1.5rem;
    background-color: white;
    margin: 2rem 0;
    border-radius: 0.5rem;
    

}
.headers{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color:#435d7d;
    color: white;
    padding: 1rem;
    width: 100%;
}
.add{
    background-color: rgb(41, 109, 41);
    color:white;
    padding: 0.5rem;
}
table, td, th {  
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    padding: 1rem;
    box-sizing: border-box;
  }
.btn{
    padding: 0.25rem 1rem;
    min-width: 5rem;
    text-align: center;
}

.btn-primary{
    background-color:#435d7d;
    color: white;
    
}
.btn-danger{
    background-color: red;
    color: white;
}

.form-wrapper{
    display: none;
}

.form-wrapper.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    z-index:1;

}

.studentForm{
    background-color: white;
    width: 36rem;
    padding: 1.5rem 3rem;
    border-radius: 0.5rem;
}

.form-control{
    width: 90%;
}

.group{
    display: flex;
    margin: 1rem 0;


}

.group label{
    width: 50%;
    line-height: 2.5rem;
    height:2.5rem ;
}

.action{
    display: flex;
    justify-content: space-between;
}


